certifi==2018.4.16
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==1.11.5
django-leaflet==0.23.0
djangorestframework==3.8.2
djangorestframework-gis==0.13
httpie==0.9.9
idna==2.6
itypes==1.1.0
Jinja2==2.10
MarkupSafe==1.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
Pygments==2.2.0
pytz==2018.4
requests==2.18.4
six==1.11.0
uritemplate==3.0.0
urllib3==1.22
uWSGI==2.0.15
